html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(122, 122, 122);
  padding: 1rem;
}

.logo p {
  font-family: "Lily Script One", cursive;
  font-size: 2.6rem;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
}
